###Description Order Book

In [ ]:
import pandas as pd
Bid_Size=[1000,700,800,900,500,400,600,800,1200,1000,1100,1200,1300,500,2000]
Bid_Price=[11.35,11.34,11.33,11.32,11.31,11.30,11.29,11.28,11.27,11.26,11.25,11.24,11.23,11.22,11.21]
df1=pd.DataFrame({"Bid Size":Bid_Size,"Bid Price": Bid_Price})

In [ ]:
df1

    Bid Size  Bid Price
0       1000      11.35
1        700      11.34
2        800      11.33
3        900      11.32
4        500      11.31
5        400      11.30
6        600      11.29
7        800      11.28
8       1200      11.27
9       1000      11.26
10      1100      11.25
11      1200      11.24
12      1300      11.23
13       500      11.22
14      2000      11.21

In [ ]:
Ask_Size=[1000,700,800,900,500,400,600,800,1200,1000,1100,1200,1300]
Ask_Price=[11.38,11.39,11.40,11.41,11.42,11.43,11.44,11.45,11.46,11.47,11.48,11.49,11.50,]
df2=pd.DataFrame({"Ask Size":Ask_Size,"Ask Price":Ask_Price})
df2

    Ask Size  Ask Price
0       1000      11.38
1        700      11.39
2        800      11.40
3        900      11.41
4        500      11.42
5        400      11.43
6        600      11.44
7        800      11.45
8       1200      11.46
9       1000      11.47
10      1100      11.48
11      1200      11.49
12      1300      11.50

In [ ]:
print(df2.head())
print("---------------------------------")
print(df1.head())

   Ask Size  Ask Price
0      1000      11.38
1       700      11.39
2       800      11.40
3       900      11.41
4       500      11.42
---------------------------------
   Bid Size  Bid Price
0      1000      11.35
1       700      11.34
2       800      11.33
3       900      11.32
4       500      11.31

###**Market Order**

In [ ]:
Number_Share=int(input("Enter Number Of Share"))
Buy_Sell=int(input("Enter 1 for sell and Enter Except 1 Anything for Buy"))
print(df2.head())
print("---------------------------------")
print(df1.head())
Bid_Size=list(df1["Bid Size"])
Bid_Price=list(df1["Bid Price"])
Ask_Size=list(df2["Ask Size"])
Ask_Price=list(df2["Ask Price"])
if(Buy_Sell==1):
  i=0
  while(Number_Share>0):
    if(Number_Share>=Bid_Size[i]):
      Number_Share=Number_Share-Bid_Size[i]
      Bid_Price.remove(Bid_Price[i])
      Bid_Size.remove(Bid_Size[i])
    else:
      Bid_Size[i]=Bid_Size[i]-Number_Share
      Number_Share=0 
else:
  i=0
  while(Number_Share>0):
    if(Number_Share>=Ask_Size[i]):
      Number_Share=Number_Share-Ask_Size[i]
      Ask_Price.remove(Ask_Price[i])
      Ask_Size.remove(Ask_Size[i])
    else:
      Ask_Size[i]=Ask_Size[i]-Number_Share
      Number_Share=0   
print("---------------------------------")
print("---------------------------------")      

df3=pd.DataFrame({"Bid Size":Bid_Size,"Bid Price": Bid_Price})       
df4=pd.DataFrame({"Ask Size":Ask_Size,"Ask Price":Ask_Price})      
print(df4.head())
print("---------------------------------")
print(df3.head())

Enter Number Of Share1200
Enter 1 for sell and Enter Except 1 Anything for Buy1
   Ask Size  Ask Price
0      1000      11.38
1       700      11.39
2       800      11.40
3       900      11.41
4       500      11.42
---------------------------------
   Bid Size  Bid Price
0      1000      11.35
1       700      11.34
2       800      11.33
3       900      11.32
4       500      11.31
---------------------------------
---------------------------------
   Ask Size  Ask Price
0      1000      11.38
1       700      11.39
2       800      11.40
3       900      11.41
4       500      11.42
---------------------------------
   Bid Size  Bid Price
0       500      11.34
1       800      11.33
2       900      11.32
3       500      11.31
4       400      11.30

### Limit Order

In [60]:
Number_Share=int(input("Enter Number Of Share"))
Limit_Price=float(input("Enter Limit Price"))
Buy_Sell=int(input("Enter 1 for sell and Enter Except 1 Anything for Buy"))
print(df2.head())
print("---------------------------------")
print(df1.head())
Bid_Size=list(df1["Bid Size"])
Bid_Price=list(df1["Bid Price"])
Ask_Size=list(df2["Ask Size"])
Ask_Price=list(df2["Ask Price"])
if(Buy_Sell==1):
  if(Limit_Price>=min(Ask_Price)):
    i=0
    if(Limit_Price in Ask_Price):
      for j in range(len(Ask_Price)):
        if(Limit_Price==Ask_Price[i]):
          Ask_Size[i]=Ask_Size[i]+Number_Share
          break
    else:
      Ask_Size.append(Number_Share) 
      Ask_Price.append(Limit_Price) 
  else:
    i=0
    while(Number_Share>0):
        if(Number_Share>=Bid_Size[i]):
           Number_Share=Number_Share-Bid_Size[i]
           Bid_Price.remove(Bid_Price[i])
           Bid_Size.remove(Bid_Size[i])
        else:
           Bid_Size[i]=Bid_Size[i]-Number_Share
           Number_Share=0 
else:  
  if(Limit_Price<=max(Bid_Price)):
    i=0
    if(Limit_Price in Bid_Price):
      for j in range(len(Bid_Price)):
        if(Limit_Price==Bid_Price[i]):
          Bid_Size[i]=Bid_Size[i]+Number_Share
          break
    else:
      Bid_Size.append(Number_Share) 
      Bid_Price.append(Limit_Price) 
  else:
    i=0
    while(Number_Share>0):
        if(Number_Share>=Ask_Size[i]):
           Number_Share=Number_Share-Ask_Size[i]
           Ask_Price.remove(Ask_Price[i])
           Ask_Size.remove(Ask_Size[i])
        else:
           Ask_Size[i]=Ask_Size[i]-Number_Share
           Number_Share=0          
print("---------------------------------")
print("---------------------------------")      

df3=pd.DataFrame({"Bid Size":Bid_Size,"Bid Price": Bid_Price})       
df4=pd.DataFrame({"Ask Size":Ask_Size,"Ask Price":Ask_Price})      
print(df4.head())
print("---------------------------------")
print(df3.head())

Enter Number Of Share100
Enter Limit Price11.35
Enter 1 for sell and Enter Except 1 Anything for Buy2
   Ask Size  Ask Price
0      1000      11.38
1       700      11.39
2       800      11.40
3       900      11.41
4       500      11.42
---------------------------------
   Bid Size  Bid Price
0      1000      11.35
1       700      11.34
2       800      11.33
3       900      11.32
4       500      11.31
---------------------------------
---------------------------------
   Ask Size  Ask Price
0      1000      11.38
1       700      11.39
2       800      11.40
3       900      11.41
4       500      11.42
---------------------------------
   Bid Size  Bid Price
0      1100      11.35
1       700      11.34
2       800      11.33
3       900      11.32
4       500      11.31